.invitationContent {
    margin: 0 auto;
    margin-top: 16px;
    border-top: 1px solid #ebeced;
    overflow: hidden;
    background-color: #ffffff;
    padding-top: 34px;
    padding-bottom: 34px;
}

.invitationContent .form-group {
    margin: 0px;
}

.invitationContent .companyName,
.invitationContent .invitationName,
.invitationContent .batchName {
    margin-left: 14px;
    display: inline-block;
}

.invitationContent .companyName,
.invitationContent .invitationName {
    margin-bottom: 34px;
}

.dataUpload .checkUpData {
    text-decoration: underline;
}

/*邀请详情*/
.manageList table tbody tr td a.downLoad {
    margin-left: 50%;
}

/*弹窗*/
.success {
    width: 35%;
    height: 50%;
    background-color: #ffffff;
    border-radius: 8px 8px;
    position: absolute;
    z-index: 999;
    text-align: center;
    display: table;
    left: 40%;
    top: 30%;
    background-image: url("../images/popStyle.png");
    background-repeat: no-repeat;
}

.success .btn_Close {
    cursor: pointer;
    position: absolute;
    right:3%;
    top:0;
}

.success .sucContaier {
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;
}

.sucContaier .suc_Icon img {
    margin-bottom: 40px;

}

.suc_font {
    font-size: 22px;
    margin-bottom: 40px;
}
.btn_confirm{
    background-color: #ffffff;
    border-color: #dd0000;
    color: #ff0000;
    width:25%;
    border-radius: 20px 20px ;
}
.confirmWrap .btn_confirm:hover{
    border-color: #dd0000;
    color: #ff0000;
    background-color: transparent;
}
.icon_confirm{
    vertical-align: text-bottom;
    margin-left: -3%;
}
/*合同管理*/
.CompanyStateWrap {
    height: 80px;
    line-height: 80px;
    margin-top: 16px;
    border-top: 1px solid #ebeced;
    border-bottom: 1px solid #ebeced;
    text-align: center;
    position: relative;
}

.CompanyStateWrap h4 {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
    line-height: 80px;
    padding-left: 24px;
}

.CompanyStateWrap span {
    position: absolute;
    z-index: 999;
    right: 2%;
    top: 25%;
    float: right;
}

.CompanyStateWrap .btn-liftFreeze {
    float: right;
    display: inline-block;
    width: 120px;
    height: 36px;
    background-color: #ff0033;
    border-color: #ff0033;
}

.CompanyStateWrap .btn-liftFreeze:hover {
    background-color: #ff0033;
    border-color: #ff0033;
}
.CompanyStateWrap .companyState1 {
    color: #ff3300;
    margin-right: 24px;
}

.contractContent {
    overflow: hidden;
    padding-top: 24px;
}

.contractContent .contractContentBg {
    margin: 0px;
}

.contractContent .form-inline,
.contractContent .col-lg-12,
.contractContent .col-lg-5,
.contractContent .col-lg-8,
.contractContent .col-lg-3,
.contractContent .col-lg-9 {

    margin-bottom: 24px;
}

.contractContent textarea {
    height: 100px;
}
.contractFrequencyWrap {
    height: 48px;
    line-height: 48px;
}

.contractFrequencyWrap .contractName {
    float: left;
    margin: 0;
    margin-left: 24px;
}

.contractTemplate,
.downloadTemplate {
    text-decoration: underline;
    font-size: 18px;
}

.contractTemplate {
    margin-left: 112px;
}

.downloadTemplate {
    float: right;
}
.contractFrequencyWrap .startDate,
.contractFrequencyWrap .endDate {
    width: 25%;
    padding-right: 14px;
    background-image: url(../images/languageA.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 95%;
}
.contractFrequencyWrap input {
    margin-right: 5px;
}

.contractFrequencyWrap .time {
    margin: 0;
    padding: 0;
    margin-right: 14px;
}

.Mes_invitationWrap {
    width: 50%;
    border-radius: 4px 4px;
    position: absolute;
    z-index: 1000;
    left: 30%;
    top: 20%;
    display: none;
}

.Mes_invitationWrap h4 {
    display: inline-block;
    padding-left: 18px;
}

.Mes_invitationWrap .invitationTitle {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #e6e6e6;
}

.Mes_invitationFont {
    margin-left: 18px;
    font-size: 12px;
    color: #989898;
}

.Mes_invitationFont img {
    margin-right: 8px;
    vertical-align: text-bottom;
}

.Mes_invitationContent {
    padding-left: 18px;

}

.Mes_invitationContent textarea {
    border: 1px solid #c4c5c6;
    margin: 14px 18px 16px 0;
    width: 95%;
    background-color: #efefef;
}

.Mes_invitationContent p {
    font-size: 12px;
    color: #989898;
    margin-bottom: 36px;
}

.btnWrap {
    text-align: center;
}

.btnWrap .btn-confirm,
.btnWrap .btn-cancel {
    width: 168px;
    height: 40px;
    background-color: #0099ff;
    border-color: #0099ff;
    margin: 0 auto;
    margin-bottom: 40px;
}

.btnWrap .btn-confirm {

    margin-right: 80px;
}

.btnWrap .btn-cancel {
    margin-left: 80px;
}

/*合同管理*/
.tableContract {
    margin: 0;
    padding: 0;
    margin-top: 16px;
    width: 100%;
    font-size: 14px;
}

.tableContract tr {
    vertical-align: middle;
    height: 58px;
}

.tableContract tr td {
    display: table-cell;
    width: 20%;
}

.tableContract a {
    text-decoration: underline;
}

.tableContract .Invitationtemplate_Install {
    margin-right: 9%;
}

.tableContract .InvitationDetail {
    margin-left: 9%;
}

.tableContract .Modify {
    float: left;
    margin-left: 65px;
}

.tableContract .Delete {
    float: right;
    margin-right: 65px;
}

/*选择系统模板*/
.TemplateContaier{
    height: 100%;
}
.TemplateWrap{
    margin: 0 40px 58px 40px ;
    overflow: hidden;
    text-align: center;
    height: 100%;
    background-color: #f7f7f7;
}
.minTemplate {
    display: table;
    text-align: center;
    width:31.8%;
    height:250px;
    margin-top:16px;
    margin-right: 1.5%;
}
.minTemplate p{
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}
.imgWrap{
    line-height: 200px;
}
.imgWrap img{
    width:33%;
}
.minTemplate input{
    position: absolute;
    right:2%;
    bottom:2%;
}
.form-company-batchWrap{
    background-color: transparent;
    height:15%;
}
.containerWrap0 {
    height: 100%;
    position: fixed;
}
.Template.col-lg-12{
    position: fixed;
    display: table;
    left:0;
    right:0;
    height:45%;
    width:37%;
    margin:5% 50% 0 40%;
    text-align: center;
   vertical-align: middle;

}
.Template p{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.Template .pageDown{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    right:-4%;
    top:40%;
    bottom: 0;
    cursor: pointer;
}